
p.caption span.caption-number {
    font-weight: bold;
}

p.caption span.caption-number::after {
    content: "- ";
}

p span.eqno a {
    display:none;
}

p span.eqno {
    float:left;
}

div.wy-table-responsive {
    max-width: 100%;
}

div.wy-table-responsive table.docutils {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

tr.row-even td, tr.row-odd td {
    line-height: 24px;
    white-space: normal;
}